.top__block {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  /* background: rgba(0, 0, 0, 0.275); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photo img {
  width: 90px;
  height: 90px;
  /* overflow: hidden; */
  object-fit: cover;
  border-radius: 50%;
}

.title {
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.user__input {
  background: linear-gradient(
    to right,
    rgba(36, 130, 213, 0.767) 0%,
    rgba(246, 182, 255, 0.3) 80%
  );
  border: 1px solid black;
  text-align: center;
  height: 18px;
  font-size: 15px;
  color: black;
  font-weight: 700;
}
