.input__file {
  visibility: hidden;
  position: absolute;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__file_button {
  /* padding: 3px 5px; */
  /* border-radius: 10px; */

  color: rgba(244, 240, 240, 0.9);
  cursor: pointer;
  overflow: hidden;
  /* position: relative; */
}

.input__file_btn {
  width: 90px;
  height: 90px;
  color: rgba(255, 255, 255, 0.9);
  /* background-image: url("./Avatar.png"); */
  /* position: absolute; */
}

.input__plus {
  position: relative;
  color: red;
  left: -50px;
}

.input__file_btn:hover {
  color: black;
}
